### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
data = [4,8,15,16,23,42]
ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on thevariable print it.

In [3]:
lst = [1,2,3,4,5,6,7,8,9,10]
ser2 = pd.Series(lst)
print(ser2)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [4]:
df=pd.DataFrame({"name":["alice","bob","claire"],"age":[25,30,27],"Gender":["female","male","female"]})
print(df)

     name  age  Gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Ans: A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, the data, rows, and columns, where as series is a single dimension  capable of holding data of any type (integer, string, float, python objects, etc.).

In [6]:
## Example
print("Series example")
lst = [1,2,3,4,5,6,7,8,9,10]
ser2 = pd.Series(lst)
print(ser2)

print("Data Frame example")
df=pd.DataFrame({"name":["alice","bob","claire"],"age":[25,30,27],"Gender":["female","male","female"]})
print(df)
df.

Series example
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64
Data Frame example
     name  age  Gender
0   alice   25  female
1     bob   30    male
2  claire   27  female

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Ans: Functions used to manipulate data are head(),tail(),loc(),iloc(),describe(),groupby(),merge(),fillna() etc.,

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Ans: DataFrame and  Series  are mutable where as panel is immutable.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [3]:
name=['luffy','zoro','sanji','ussop']
d2=[3000000000,1100000000,100000]
s1=pd.Series(d1)
s2=pd.Series(d2)
df = pd.DataFrame(s1,s2)
print(df)

     0
6  NaN
7  NaN
8  NaN
9  NaN
0  1.0