## Q1. List any five functions of the pandas library with execution.

##  Ans: Here are the five functions used with pandas

In [1]:
import pandas as pd

In [6]:
# 1. read_csv()
df = pd.read_csv("players.csv")

# 2. head()
df.head()

# 3. tail()
df.tail()

#4. info()
df.info()

# 5. groupby()
df.groupby("Age")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  675 non-null    int64
 1   Rk          675 non-null    object
 2   Player      675 non-null    object
 3   Pos         675 non-null    object
 4   Age         675 non-null    object
 5   Tm          675 non-null    object
 6   G           675 non-null    object
 7   GS          675 non-null    object
 8   MP          675 non-null    object
 9   FG          675 non-null    object
 10  FGA         675 non-null    object
 11  FG%         673 non-null    object
 12  3P          675 non-null    object
 13  3PA         675 non-null    object
 14  3P%         594 non-null    object
 15  2P          675 non-null    object
 16  2PA         675 non-null    object
 17  2P%         671 non-null    object
 18  eFG%        673 non-null    object
 19  FT          675 non-null    object
 20  FTA         675 non-null    object
 21  FT%         650 non-null    object
 22  ORB         675 non-null    object
 23  DRB         675 non-null    object
 24  TRB         675 non-null    object
 25  AST         675 non-null    object
 26  STL         675 non-null    object
 27  BLK         675 non-null    object
 28  TOV         675 non-null    object
 29  PF          675 non-null    object
 30  PTS         675 non-null    object
dtypes: int64(1), object(30)
memory usage: 163.6+ KB

## Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index theDataFrame with a new index that starts from 1 and increments by 2 for each row.

In [8]:
import pandas as pd

def reindex_df(df):
    new_index = range(1, len(df) * 2, 2)  # New index starting from 1, incrementing by 2
    df.index = new_index
    return df

df = pd.DataFrame({'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]})
df_reindexed = reindex_df(df)
df_reindexed

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

## Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.

In [18]:

def calc_sum(df):
    sum = df["Values"].head(3).sum()
    return sum


df = pd.DataFrame({"Values":[1,2,3,4,5,6,7]})
print(calc_sum(df))

6

## Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [23]:
def wordcount(df):
    df["Word_count"] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

data = {"Text":["Hi, i am a nigga","So you are also a nigga","Therefore everyone is a nigga"]}
df = pd.DataFrame(data)
print(wordcount(df))
df

                            Text  Word_count
0               Hi, i am a nigga           5
1        So you are also a nigga           6
2  Therefore everyone is a nigga           5

                            Text  Word_count
0               Hi, i am a nigga           5
1        So you are also a nigga           6
2  Therefore everyone is a nigga           5

## Q5. How are DataFrame.size() and DataFrame.shape() different?

### Ans: DataFrame.size(): Returns the number of elements in the DataFrame (rows * columns). 
### DataFrame.shape(): Returns a tuple representing the dimensions (rows, columns) of the DataFrame.

## Q6. Which function of pandas do we use to read an excel file?

### we use pd.read_excel() to read a excel file

In [26]:
df = pd.read_excel('LUSID Excel - Setting up your market data (1).xlsx')

## Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. 
## For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [31]:

def extract_name(df):
    df["Name"] = df["e-Mail"].apply(lambda x: x.split('@')[0])
    return df

data = {"e-Mail":["manoj@gmail.com","Luffy@outlook.com","Zoro@hotmail.com"]}
df = pd.DataFrame(data)
extract_name(df)

              e-Mail   Name
0    manoj@gmail.com  manoj
1  Luffy@outlook.com  Luffy
2   Zoro@hotmail.com   Zoro

## Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values:
## A B C
## 0 3 5 1
## 1 8 2 7
## 2 6 9 4
## 3 2 3 5
## 4 9 1 2

## Your function should select the following rows: A B C
## 1 8 2 7
## 4 9 1 2
## The function should return a new DataFrame that contains only the selected rows.

In [35]:
def dataframe(df):
    return df[(df["A"]>5) & (df["B"]<10)]

data = {"A":[3,8,6,2,9],"B":[5,2,9,3,1],"C":[1,7,4,5,2]}
df = pd.DataFrame(data)
dataframe(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

## Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [38]:
def func(df):
    col_values = df["Values"]
    mean = col_values.mean()
    median = col_values.median()
    standard_deviation = col_values.std()
    print(f"Mean: {mean}, Median: {median}, Standard Deviation: {standard_deviation}")
    
data = {"Values":[1,2,3,4,5,6,7,8,9]}
df = pd.DataFrame(data)
func(df)

Mean: 5.0, Median: 5.0, Standard Deviation: 2.7386127875258306

## Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

In [39]:
import pandas as pd

def calculate_moving_average(df):
    # Sort the DataFrame by the 'Date' column (if not already sorted)
    df = df.sort_values(by='Date').reset_index(drop=True)
    
    # Calculate the moving average using a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df

# Example usage:
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05',
             '2023-01-06', '2023-01-07', '2023-01-08', '2023-01-09', '2023-01-10'],
    'Sales': [100, 150, 200, 180, 220, 250, 300, 280, 320, 350]
}

df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])  # Convert 'Date' column to datetime format

# Calculate moving average and add it as a new column
df_with_ma = calculate_moving_average(df)
print(df_with_ma)

        Date  Sales  MovingAverage
0 2023-01-01    100     100.000000
1 2023-01-02    150     125.000000
2 2023-01-03    200     150.000000
3 2023-01-04    180     157.500000
4 2023-01-05    220     170.000000
5 2023-01-06    250     183.333333
6 2023-01-07    300     200.000000
7 2023-01-08    280     225.714286
8 2023-01-09    320     250.000000
9 2023-01-10    350     271.428571

## Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.
## For example, if df contains the following values:
## Date
## 0 2023-01-01
## 1 2023-01-02
## 2 2023-01-03
## 3 2023-01-04
## 4 2023-01-05
## Your function should create the following DataFrame:

## Date Weekday
## 0 2023-01-01 Sunday
## 1 2023-01-02 Monday
## 2 2023-01-03 Tuesday
## 3 2023-01-04 Wednesday
## 4 2023-01-05 Thursday
# The function should return the modified DataFrame.

In [43]:
def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.day_name()
    return df

# Usage:
data = {'Date': ['2001-12-15', '2023-01-02', '2023-01-03']}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
df_with_weekday = add_weekday_column(df)
print(df_with_weekday)

        Date   Weekday
0 2001-12-15  Saturday
1 2023-01-02    Monday
2 2023-01-03   Tuesday

## Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [46]:
import pandas as pd

def select_rows_by_date(df):
    mask = (df['Date'] >= '2023-01-01') & (df['Date'] <= '2023-01-31')
    selected_df = df.loc[mask]
    return selected_df

# Usage:
data = {'Date': pd.date_range(start='2023-01-01', end='2023-02-28')}
df = pd.DataFrame(data)
selected_rows = select_rows_by_date(df)
selected_rows

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31

## Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

## import pandas as pd 
 pandas library is the first and foremost library that is needs to be imported